<html lang="en"><head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{judul}}</title>

    <!-- Bootstrap Core CSS -->
{% include 'snippets/css.html' %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        {% include 'snippets/navbar.html' %}



        <div id="page-wrapper" style="min-height: 549px;">
            <div class="row">
                <div class="well">
                    <img src="{{ postingDetails.cover.url }}" alt="{{ postingDetails.title }}" >
                </div>
                <div class="col-lg-12">
                    <h1 class="page-header">{{judul}}</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class=".col-xs-12 .col-sm-6 .col-md-8">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            {{postingDetails.title}}
                        </div>
                        <div class="panel-body">
                            <p>{{ postingDetails.body }}</p>
                        </div>
                        <div class="panel-footer">
                            {{postingDetails.update}} - {{ postingDetails.category }}
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.row -->









            <!-- /.row -->

            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
{% include 'snippets/script.html' %}




</body></html>